Django==2.1.2
django-auth-ldap==1.2.15
django-autocomplete-light==3.3.2
django-ical==1.4
django-kronos==1.0
django-simple-menu==1.2.1
icalendar==3.11.7
psycopg2==2.7.3.1
pyldap==2.4.37
pytz==2018.4
uwsgi==2.0.17.1
