.event{
    margin-left: 50px;
}

.event li, ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.event-description{
    font-style: italic;
}

.footer{
    margin-top: 50px;
}

.event-list table {
    border-collapse: collapse;
}

.event-list table, th, td {
    border: 1px solid;
}

.tm{
    margin-top: 20px;
}

.content{
    margin-top: 20px;
}
