.event li, ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.event-description{
    margin-left: 20px;
}

.footer{
    margin-top: 50px;
}

.tm{
    margin-top: 20px;
}

.content{
    margin-top: 20px;
}
