{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<h2>About</h2>
<p>FTS is a student-led seminar series within the School of Computer Science at Cardiff University.</p>
<p>Talks are varied, and not strictly limited to topics within Computer Science -- some of the most interesting seminars have been entirely unrelated (such as a history of The Flamenco, tales of travelling the world, and insight into behind-the-scenes of an episode of Dr Who). The only rule of FTS is that speakers and attendees <b>must be students</b> (except for special circumstances).<p>
<p>If you're interesed in speaking, please complete the form <a href="/add-event">here</a>, or if you have any questions about FTS then please contact the current organisers <a href="mailto:MorrisRL6@cardiff.ac.uk">Rhodri Morris</a> and <a href="mailto:BedewiWA@cardiff.ac.uk">Wafi Bedewi</a>.</p>
{% endblock %}
