{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FTSManager{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block custom_head %}{% endblock %}
</head>

<body>
{% block content %}{% endblock %}
<div class="footer">
    [<a href="/">Next Event</a>] [<a href="/events">All Events</a>] [<a href="/add-event">Add Event</a>]
</div>
</body>
</html>
