{% extends "base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
    <h1>{{ event.name }}</h1>
    <p><b>Speaker(s): </b> {% for s in event.speakers.all %}{% if not forloop.first %}, {% endif %} <a href="/users/{{ s.username }}">{% if s.first_name %}{{ s.first_name }} {{ s.last_name }}{% else %}{{ s.username }}{% endif %}</a>{% endfor %}</p>
    <p><b>Date: </b>{{ event.date }}</p>
    <p><b>Location: </b> {{ event.location }}</p>
    <p><b>Description: </b>{{ event.description|linebreaks }}</p>
    {%if user.is_staff or user in event.speakers %}
    <p><a class="btn btn-outline-warning btn-sm" href="edit/" role="button">Edit</a></p>
    {% endif %}
   
{% endblock %}
