{% extends "base.html" %}
{% block title %}FTS Manager: Next Event {% endblock %}

{% block content %}
<h1>FTS - Next Event</h1>

<p>Please see below for details of the next FTS event. For a list of all (past and future) events, please <a href="/events">click here</a>.</p>

<div class="event">
    <h2>{{ next_event.name }}</h2>
    <ul>
        <li><b>Date: </b> {{ next_event.date }}</li>
        <li><b>Speaker(s): </b> {% for s in next_event.speakers.all %}{% if not forloop.first %}, {% endif %} {% if s.first_name %}{{ s.first_name }} {{ s.last_name }}{% else %}{{ s.username }}{% endif %}{% endfor %}</li>
        <li><b>Location: </b> {{ next_event.location }}</li>
        <li><b>Description: </b> <span class="event-description">{{ next_event.description }}</span></li>
    </ul>
</div>

{% endblock %}
